#container{  
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
  border: 1px solid rgb(0, 0, 0);  
  width: 260px;  
  height: 370px;  
  padding: 40px; 
  }  

#countHolder {
  text-align: center;
}

#address {
  margin: 10px;
}

#enabled{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;     
  width: 100%;  
  height: 45px; 
  margin-top: 10px;
  border: 1px solid white ;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
}

#enabled:hover, #disabled:hover{
  background-color: #5a5a5a;
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 8px;
}

#disabled{  
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;     
  width: 100%;  
  height: 45px; 
  margin-top: 10px;
  border: 1px solid white ;
  border-radius: 8px;
  background-color: rgb(196, 196, 196);
  color: white;
  }  

  #connectBtn, #disconnectBtn{  
    font-family: 'Arial';
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial
      ';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 230px; 
    height: 45px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 14px;
    } 
    
  #connectBtn:hover,#disconnectBtn:hover {
    background-color: #5a5a5a;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 8px;
    }
  
#inputArea {
  text-align: left;
  }

#namefield, #colorfield, #yearfield { 
  padding: 10px;
  border-style:solid;
  border-radius: 4px;
  border-color: rgb(182, 182, 182);
  width: 100%;
  margin-bottom:1px;
  box-sizing: border-box;
  }

#myCheck {
  height:40px;
  width: 40px;
  margin-top: 10px;
  margin-left:0px;
  }

#placerAddress {
  margin-bottom: 10px;          
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

#textWhileCreating {
  margin-top: 10px;
  text-align: center;
  }

  #checkDiv {
    padding-top: 15px;
  }